* { margin: 0: padding: 0 }
body {
 background-color: #303030;
 color: #f0f0f0;
 font-family: Verdana,sans-serif;
 font-size: 0.85em;
 margin: 0 25px
}

.grid_1 { width:6.25%; }
.grid_2 { width:14.583%; }
.grid_3 { width:22.917%; }
.grid_4 { width:31.25%; }
.grid_5 { width:41.667%; }
.grid_6 { width:47.917%; }
.grid_7 { width:56.25%; }
.grid_8 { width:64.583%; }
.grid_9 { width:72.917%; }
.grid_10 { width:81.25%; }
.grid_11 { width:89.583%; }
.grid_12 { width:97.917%; }
.column { margin: 0 1.04%; overflow: hidden; float: left; }
.row { min-width: 960px; width: 97.875%; margin: 0 1.064%; overflow: hidden; }
.row.noMinWidth { min-width: 0 }
a {
    color: #ca7c00;
    font-weight: normal;
    font-size: 1.0em
}
.strong, .release-heading .title { font-weight: bold }
.release-heading .created { padding-left: 25px }
.hidden { display: none }
