* { margin: 0: padding: 0 }
body {
 background-color: #303030;
 color: #f0f0f0;
 font-family: Verdana,sans-serif;
 font-size: 0.85em;
 margin: 0;
 padding: 0
}

.grid_1 { width:6.25%; }
.grid_2 { width:14.583%; }
.grid_3 { width:22.917%; }
.grid_4 { width:31.25%; }
.grid_5 { width:41.667%; }
.grid_6 { width:47.917%; }
.grid_7 { width:56.25%; }
.grid_8 { width:64.583%; }
.grid_9 { width:72.917%; }
.grid_10 { width:81.25%; }
.grid_11 { width:89.583%; }
.grid_12 { width:97.917%; }
.column { margin: 0 1.04%; overflow: hidden; float: left; }
.row { min-width: 960px; width: 97.875%; margin: 0 1.064%; overflow: hidden; }
.row.noMinWidth { min-width: 0 }
.row.padded { padding-top: 4px; padding-bottom: 4px }
a {
    color: #ca7c00;
    font-weight: normal;
    font-size: 1.0em
}
a:hover { color: #00ca7c }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0 }
h4 { margin: 4px 0; font-size: 1.0em }
.strong { font-weight: bold }
.padLeft25 { padding-left: 25px }
.hidden { display: none }
.alignCenter { text-align: center }
.release-heading {
    border-bottom: 1px solid #f0f0f0;
    padding: 4px 0;
    margin-top: 15px
}

input[type=button], input[type=submit] {
    background-color: #f0f0f0;
    color: #303030;
    padding: 12px 7px;
    margin: 2px;
    font-size: 1.0em;
    border: 2px solid #ca7c00
}

input[type=button]:hover, input[type=submit]:hover {
    border-color: #00ca7c;
    background-color: #eaeaea
}
select, input[type=text], textarea { width: 275px }

section#management {
    border-bottom: 1px solid #ca7c00;
    padding: 10px 25px
}
section#management a {
    margin-right: 25px
}
section#releases {
    margin: 0 25px
}